body{
  font-family: monospace;
  background-color: black;
  background-attachment: fixed;
  color: white;
  font-size: 18px;
  padding: 24px;
  background-size: 100% 100%;
  background-position: 50% 0%;
}

#chart{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#output{
  width: 100%;
  white-space: pre;
}

#input, #cursor{
  display: inline-block;
  white-space: pre;
}

#terminal{
  text-shadow: 64px 32px 4px black, 2px 1px  2px black;
}

#cursor{
  transition: all 3s ease;
  display: inline-block;
  background-color: white;
  opacity: 0.4;
  box-shadow: 64px 32px 4px #000;
}

#cursor.blink{
  opacity: 0.6;
  background-color: none ;
}
